<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Swift - Admin</title>
  <!--favicon-->
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <!-- simplebar CSS-->
  <link href="/stylesheets/template/simplebar.css" rel="stylesheet" />
  <!-- Bootstrap core CSS-->
  <link href="/stylesheets/template/bootstrap.min.css" rel="stylesheet" />
  <!-- animate CSS-->
  <link href="/stylesheets/template/animate.css" rel="stylesheet" type="text/css" />
  <!-- Icons CSS-->
  <link href="/stylesheets/template/icons.css" rel="stylesheet" type="text/css" />
  <!-- Sidebar CSS-->
  <link href="/stylesheets/template/sidebar-menu.css" rel="stylesheet" />
  <!-- Custom Style-->
  <link href="/stylesheets/template/app-style.css" rel="stylesheet" />
  <!-- Style-->
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>

  <!-- Start wrapper-->
  <div id="wrapper">

    <!--Start sidebar-wrapper-->
    {{> menu}}
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
      <nav class="navbar navbar-expand fixed-top bg-white">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link toggle-menu" href="javascript:void();">
              <i class="icon-menu menu-icon"></i>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
          <li class="nav-item">
            {{user.name}}
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
              <span class="user-profile">
                {{#if user.imgPath}}
                  <img src="{{user.imgPath}}" class="img-circle" alt="user avatar">
                {{else}}
                  <img src="./images/user.jpg" class="img-circle" alt="user avatar">
                {{/if}}
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item user-details">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3" src="./images/user.jpg" alt="user avatar">
                    </div>
                    <div class="media-body">
                      <h6 class="mt-2 user-title">{{user.name}}</h6>
                      <p class="user-subtitle">{{user.email}}</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><a href="/logout"><i class="icon-power mr-2"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div style="min-height:600px">
              <!--Please remove the height before using this page-->

            </div>
          </div>
        </div>

      </div>
      <!-- End container-fluid-->

      <div class="overlay"></div>

    </div>
    <!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->
    <footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Rukada Admin
        </div>
      </div>
    </footer>
    <!--End footer-->

  </div>
  <!--End wrapper-->


  <script src="/javascripts/template/jquery.min.js"></script>
  <script src="/javascripts/template/popper.min.js"></script>
  <script src="/javascripts/template/bootstrap.min.js"></script>
  <script src="/javascripts/template/simplebar/js/simplebar.js"></script>
  <script src="/javascripts/template/waves.js"></script>
  <script src="/javascripts/template/sidebar-menu.js"></script>
  <script src="/javascripts/template/app-script.js"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>