<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Swift - Avisos</title>
  <!--favicon-->
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <!-- simplebar CSS-->
  <link href="/stylesheets/template/simplebar.css" rel="stylesheet" />
  <!-- Bootstrap core CSS-->
  <link href="/stylesheets/template/bootstrap.min.css" rel="stylesheet" />
  <!-- animate CSS-->
  <link href="/stylesheets/template/animate.css" rel="stylesheet" type="text/css" />
  <!-- Icons CSS-->
  <link href="/stylesheets/template/icons.css" rel="stylesheet" type="text/css" />
  <!-- Sidebar CSS-->
  <link href="/stylesheets/template/sidebar-menu.css" rel="stylesheet" />
  <!-- Custom Style-->
  <link href="/stylesheets/template/app-style.css" rel="stylesheet" />

  <!--Data Tables -->
  <link href="/stylesheets/template/bootstrap-datatable/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/template/bootstrap-datatable/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">

  <!-- Style-->
  <link href="/stylesheets/style.css" rel="stylesheet" />

</head>

<body>

  <!-- Start wrapper-->
  <div id="wrapper">

    <!--Start sidebar-wrapper-->
    {{> menu}}
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
      <nav class="navbar navbar-expand fixed-top bg-white">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link toggle-menu" href="javascript:void();">
              <i class="icon-menu menu-icon"></i>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
              <span class="user-profile">
                {{#if user.imgPath}}
                <img src="{{user.imgPath}}" class="img-circle" alt="user avatar">
                {{else}}
                <img src="./images/user.jpg" class="img-circle" alt="user avatar">
                {{/if}}
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item user-details">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar">
                      {{#if user.imgPath}}
                      <img class="align-self-start mr-3" src="{{user.imgPath}}" alt="user avatar">
                      {{else}}
                      <img class="align-self-start mr-3" src="./images/user.jpg" alt="user avatar">
                      {{/if}}
                    </div>
                    <div class="media-body">
                      <h6 class="mt-2 user-title">{{user.name}}</h6>
                      <p class="user-subtitle">{{user.email}}</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><a href="/logout"><i class="icon-power mr-2"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <!-- Breadcrumb-->
        <div class="row pt-2 pb-2">
          <div class="col-sm-9">
            <h4 class="page-title">Avisos</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href='/'>Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Avisos</li>
            </ol>
          </div>
          <div class="col-sm-3">
            <div class="btn-group float-sm-right">
              <button onclick="newNotification()" class="btn btn-success float-right">+ nuevo aviso</button>
            </div>
          </div>
        </div>
        <!-- End Breadcrumb-->

        <div class="row">
          <div class="col-lg-12">
            <div>
              <!-- aca va la info -->

              <div class="row">
                <div class="col-lg-7">
                  <div class="card">
                    {{!-- <div class="card-header"> </div> --}}
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Edificio</th>
                              <th>Asunto</th>
                              <th style="width: 10%; text-align:center">Ver</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each notification}}
                            <tr>
                              <td>{{this.building.address}}</a></td>
                              <td>{{this.subject}}</td>
                              <td><button onclick="loadNotificationAndShowForm('{{this._id}}')"
                                  class="btn btn-primary btn-sm button-size-table">Ver</button></td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-5 notification-form hidden">
                  <div class="card min-height-notification">
                    {{!-- <div class="card-header"> </div> --}}
                    <div class="card-body">
                      <div class="card-title text-success">Aviso {{this._id}}
                        <div class="float-right"><button onclick="editNotification()"
                            class="btn btn-outline-warning btn-sm button-edit">Editar</button></div>
                      </div>
                      <hr>
                      <form action="/add/notification" method="POST">
                        <div class="id hidden"></div>
                        <div class="form-group">
                          <label for="input-1" class="text-success">Edificio</label>
                          <div class="building"></div>
                        </div>
                        <div class="form-group">
                          <label for="input-1" class="text-success">Asunto</label>
                          <div class="subject"></div>
                        </div>
                        <div class="form-group">
                          <label for="input-1" class="text-success">Fecha</label>
                          <div class="date"></div>
                        </div>
                        <div class="form-group">
                          <label for="input-1" class="text-success">Mensaje</label>
                          <div class="message"></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="col-lg-5 edit-form hidden">
                  <div class="card min-height-notification">
                    {{!-- <div class="card-header"> </div> --}}
                    <div class="card-body">
                      <div class="card-title text-success">Avisos

                      </div>
                      <hr>
                      <form action="/edit/notification/`${_id}`" method="POST">
                        <input type="hidden" class="form-control" name="id">
                        <div class="form-group">
                          <label>Edificio</label>
                          <div class="building"></div>
                        </div>
                        <div class="form-group">
                          <label for="input-1">Asunto</label>
                          <input type="text" class="form-control" name="subject">
                        </div>
                        <div class="form-group">
                          <label for="input-1">Mensaje</label>
                          <textarea class="form-control textarea-avisos" rows="4" name="message"></textarea>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-outline-primary btn-sm btn-block ">Guardar cambios</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="col-lg-5 aviso-form">
                  <div class="card">
                    {{!-- <div class="card-header"> </div> --}}
                    <div class="card-body">
                      <div class="card-title text-success">Nuevo aviso</div>
                      <hr>
                      <form action="/add/notification" method="POST">
                        <div class="form-group">
                          <label>Edificio</label>
                          <select class="form-control single-select" name="building">
                            <option>Seleccionar</option>
                            {{#each buildings}}
                            <option value="{{this._id}}">{{this.address}}</option>
                            {{/each}}
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="input-1">Asunto</label>
                          <input type="text" class="form-control" id="input-1" name="subject"
                            placeholder="Ingrese el asunto" required>
                        </div>
                        <div class="form-group">
                          <label for="input-1">Mensaje</label>
                          <textarea class="form-control textarea-avisos" rows="4" name="message"></textarea>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-outline-success btn-sm btn-block ">enviar aviso</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Row-->

            </div>
          </div>
        </div>

      </div>
      <!-- End container-fluid-->

      <div class="overlay"></div>

    </div>
    <!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->
    {{> footer}}
    <!--End footer-->

  </div>
  <!--End wrapper-->


  <script src="/javascripts/template/jquery.min.js"></script>
  <script src="/javascripts/template/popper.min.js"></script>
  <script src="/javascripts/template/bootstrap.min.js"></script>
  <script src="/javascripts/template/simplebar/js/simplebar.js"></script>
  <script src="/javascripts/template/waves.js"></script>
  <script src="/javascripts/template/sidebar-menu.js"></script>
  <script src="/javascripts/template/app-script.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!--Data Tables js-->
  <script src="/javascripts/template/data-table/jquery.dataTables.min.js"></script>
  <script src="/javascripts/template/data-table/dataTables.bootstrap4.min.js"></script>
  <script src="/javascripts/template/data-table/dataTables.buttons.min.js"></script>
  <script src="/javascripts/template/data-table/buttons.bootstrap4.min.js"></script>
  <script src="/javascripts/template/data-table/jszip.min.js"></script>
  <script src="/javascripts/template/data-table/pdfmake.min.js"></script>
  <script src="/javascripts/template/data-table/vfs_fonts.js"></script>
  <script src="/javascripts/template/data-table/buttons.html5.min.js"></script>
  <script src="/javascripts/template/data-table/buttons.print.min.js"></script>
  <script src="/javascripts/template/data-table/buttons.colVis.min.js"></script>
  <script>
    $(document).ready(function () {
      //Default data table
      $('#default-datatable').DataTable();


      var table = $('#example').DataTable({
        lengthChange: false,
        buttons: ['copy', 'excel', 'pdf', 'print', 'colvis']
      });

      table.buttons().container()
        .appendTo('#example_wrapper .col-md-6:eq(0)');

    });

    function loadNotificationAndShowForm(id) {
      document.querySelector(".notification-form").style.display = "block"
      document.querySelector(".edit-form").style.display = "none"
      document.querySelector(".aviso-form").style.display = "none"
      loadNotification(id, function (notificationData) {
        document.querySelector(".notification-form .building").innerHTML = notificationData.building.address
        document.querySelector(".notification-form .subject").innerHTML = notificationData.subject
        document.querySelector(".notification-form .date").innerHTML = notificationData.created_at
        document.querySelector(".notification-form .message").innerHTML = notificationData.message
        document.querySelector(".notification-form .id").innerHTML = notificationData._id
      })
    }

    function loadNotification(id, cb) {
      fetch(`/shownotification/${id}`).then(json => json.json()).then(json => cb(json))
    }

    function newNotification() {
      document.querySelector(".notification-form").style.display = "none"
      document.querySelector(".edit-form").style.display = "none"
      document.querySelector(".aviso-form").style.display = "block"
    }

    function editNotification() {
      document.querySelector(".aviso-form").style.display = "none"
      document.querySelector(".notification-form").style.display = "none"
      document.querySelector(".edit-form").style.display = "block"

      let id = document.querySelector(".notification-form .id").innerText
      console.log(id)

      loadNotification(id, function (notificationData) {
        document.querySelector(".edit-form .building").innerHTML = notificationData.building.address
        document.querySelector(".edit-form input[name=subject]").value = notificationData.subject
        document.querySelector(".edit-form textarea").value = notificationData.message
        let _id = document.querySelector(".edit-form input[name=id]").value = notificationData._id
      })
      debugger
    }

  </script>

</body>

</html>